.sub-header
  font-size: 14px
  margin: 0
  display: block
  padding-top: 100px
  background-color: $color_main_dark
  position: relative
  padding-bottom: 40px

  &__content
    position: relative
    padding-bottom: 0
    

  &__title
    display: inline-block
    width: 100%
    text-align: center
    font-weight: 400
    color: #fff

    @media $desktop-min
      width: auto
      text-align: left

    @media $mobile-max
      font-size: 26px


.fab-button
  display: block
  width: 240px
  position: absolute
  right: 10px
  bottom: -103px
  z-index: 2
  
  &:hover .fab-button__label
    opacity: 1
  
  &__link
    display: block
    margin: auto
    width: 60px
    height: 60px
    background-color: #E91E63
    border-radius: 60px
    line-height: 60px
    text-align: center
    color: #fff
    font-size: 30px
    text-decoration: none
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5)

    &:focus,
    &:hover
      text-decoration: none
    
  &__label
    opacity: 0
    display: block
    transition: opacity 0.2s
    max-width: 240px
    padding: 4px 10px
    border-radius: 3px
    color: #fff
    background-color: rgba(0, 0, 0, 0.5)
    margin: auto
    margin-top: 10px
    text-align: center
