<div class="sub-header">
  <div class="main-content__column sub-header__content">
    <h1 class="sub-header__title">Список предложений</h1>


    <menu-tabs is-dark>
      <menu-pane title="Ждут пользователей"></menu-pane>
      <menu-pane title="Ждут доставки"></menu-pane>
      <menu-pane title="Завершенные"></menu-pane>
    </menu-tabs>



    <div class="fab-button">
      <a href="/#/food/new" class="fab-button__link">+</a>
      <span class="fab-button__label">Добавить новое предложение</span>
    </div>

  </div>
</div>