.header
  width: 100%
  height: $header_height
  background-color: $color_main_dark
  border-radius: 0
  position: relative
  z-index: 5

  &__center-column
    margin: 0 20px
    display: flex
    justify-content: space-between
    align-items: flex-center
    position: relative
  
  &__logo
    display: block
    width: 125px
    color: transparent
    height: $header_height
    background: embedurl('../img/logo.png') no-repeat left center
    background-size: 80% auto

    @media $mobile-sm
      width: 100px
      background-size: 100% auto
